.centered {
    /* position: absolute; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loading {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 6px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #00000050;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }

  .loading-text:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 1000ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  